{% extends 'base.html' %} {% load bootstrap3 %}

<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="UTF-8">
    <title>Title</title>
  </head>

  <body>

    {% block content %}
    <div class="container"><br>
      <form method="get">

        {% csrf_token %} {% bootstrap_form filter.form %}


        <button type="submit">Search</button>

      </form>
      <h2><b><u>Lists and Details</u></b></h2>

      <ol style="font-size: 20px;">

        {% for suspect in filter.qs %}

        <li>
          <a href="{% url 'c_profile' suspect.id_no %}">
            <h3> {{ suspect.name }} </a>  : {{suspect.id_no}} - {{ suspect.pub_date}}</h3> </li>

        {% endfor %}

      </ol>
    </div>
    {% endblock %}

  </body>

</html>