{% extends 'occurrence-book/base.html' %}
{% load bootstrap3 %}

<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="UTF-8">
    <title>Title</title>
  </head>

  <body>

    {% block content %}
    <div class="container"><br>
      <form method="get">

        {% csrf_token %} {% bootstrap_form filter.form %}


        <button type="submit">Search</button>

        </form>
        <br>

<table>
  <tr>
    <th>ID No.</th>
    <th>Name</th>
    <th>DATE</th>
  </tr>
  <tr>
    {% for suspect in filter.qs %}
    <td>{{suspect.id_no}}</td>
    <td id="suspectname"><a href="{% url 'c_profile' suspect.id_no %}"> {{ suspect.name }} </a> </td>
    <td>{{ suspect.pub_date}}</td>
  </tr>
  {% endfor %}
</table>

  </div>
    {% endblock %}

  </body>

</html>
