{%extends 'occurrence-book/base.html'%}
{%load bootstrap3%}
{%load static%}

{% block content %}
{{block.super}}
<div class="container">
  <h2 class="head">OBS <small>Occurrence Book System</small></h2>
</div><br><br>
<div class="container" class="item">
  <div class="row">
  <div class="col-md-4">
  <div class="card horizontal">
    <div class="card-stacked">
      <div class="card-content">
        <h5 class="content">Cash bail collected from the suspects.</h5>
      </div>
      <div class="card-action" id="cb">
        <a class="link" href="{%url 'cash_bail'%}">Cash Book</a>
      </div>
    </div>
  </div>
</div>
  <div class="col-md-4">
  <div class="card horizontal">
    <div class="card-stacked">
      <div class="card-content">
        <h5 class="content">Bookings and reporting register</h5>
      </div>
      <div class="card-action" id="ob">
        <a class="link" href="{%url 'occurrence_book'%}">Occurrence Book</a>
      </div>
    </div>
  </div>
</div>
  <div class="col-md-4">
  <div class="card horizontal">
    <div class="card-stacked">
      <div class="card-content">
        <h5 class="content">Archives of the occurrence book.</h5>
      </div>
      <div class="card-action" id="ar">
        <a class="link" href="{%url 'archives'%}">Archives</a>
      </div>
    </div>
  </div>
</div>
</div>
</div>

<footer>&#9426; Copyright 2018 OBS. <small>All Rights Reserved</small></footer>



{%endblock%}
