{% load bootstrap3 %} {% load static %}
<div id="throbber" style="display:none; min-height:120px;"></div>
<div id="noty-holder"></div>
<div id="wrapper">
    <!-- Navigation -->
    <!-- <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation"> -->
        <!-- Brand and toggle get grouped for better mobile display -->
        <!-- <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">iCop -->
                <!-- <img src="" alt="LOGO"> -->
            <!-- </a> -->
        <!-- </div> -->
        <!-- Top Menu Items -->
        <!-- <ul class="nav navbar-right top-nav">
            <li><a href="#" data-placement="bottom" data-toggle="tooltip" href="#" data-original-title="Stats"><i class="fa fa-bar-chart-o"></i>
                </a>
            </li>
            <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">Admin <b class="fa fa-angle-down"></b></a>
                <ul class="dropdown-menu">
                    <li><a href="#"><i class="fa fa-fw fa-user"></i> Edit Profile</a></li>
                    <li><a href="#"><i class="fa fa-fw fa-cog"></i> Change Password</a></li>
                    <li class="divider"></li>
                    <li><a href="#"><i class="fa fa-fw fa-power-off"></i> Logout</a></li>
                </ul>
            </li>
        </ul> -->
        <!-- Sidebar Menu Items - These collapse to the responsive navigation menu on small screens -->
        <div class="collapse navbar-collapse navbar-ex1-collapse">
            <ul class="nav navbar-nav side-nav">
              <li >
                <a  id="brand" href="/" id="hover"><i class="fa fa-fw fa-home fa-3x">iCop</i></a>
          </li>
              <li>
                  <a href="{%url 'occurrence_book'%}" data-toggle="collapse" data-target="#submenu-1" id="hover" class="check"> OCCURRENCE  <span style="font-size:16px;" class="pull-right hidden-xs fa fa-fw fa-book"></span></i> </a>

              </li>

              <li>
                  <a href="{%url 'archives'%}" data-toggle="collapse" data-target="#submenu-2" id="hover" class="check">  ARCHIVE <span style="font-size:16px;" class="pull-right hidden-xs fa fa-fw fa-archive"></span></i> </a>

              </li>

              <li>
                  <a href="{%url 'cash_bail'%}"  id="hover" class="check">  CASHBAIL <span style="font-size:16px;" class="pull-right hidden-xs fa fa-fw fa-money"></span></i></a>
              </li>

              <!-- <li>
                  <a href="{%url 'search' %}" class="btn btn-success" id="btn-side" class="check"><i class="fa fa-fw fa-search"></i> SEARCH</a>
              </li> -->
            </ul>
        </div>
        <!-- /.navbar-collapse -->
        <div>
          <a href="/"><h2 id="test"></a>
            <ul class="nav navbar-right top-nav">
                <li><a href="#" data-placement="bottom" data-toggle="tooltip" href="#"></i>
                    </a>
                </li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Admin <b class="fa fa-angle-down"></b></a>
                    <ul class="dropdown-menu">
                        <li><a href="#"><i class="fa fa-fw fa-user"></i> Edit Profile</a></li>
                        <li><a href="#"><i class="fa fa-fw fa-cog"></i> Change Password</a></li>
                        <li class="divider"></li>
                        <li><a href="#"><i class="fa fa-fw fa-power-off"></i> Logout</a></li>
                    </ul>
                </li>
            </ul>
          </h2>
        </div>
        <div class="footer">
          <h5>&#9426; Copyright 2018 iCop. <small>All Rights Reserved</small></h5>
        </div>


        {%block styles%} {%bootstrap_css%}
        <link rel="stylesheet" href="{% static 'css/index.css' %}">

        <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
        <link rel="shortcut icon" type="image/png" href="{% static 'images/avatar.jpg' %}" /> {%endblock%}

    <!-- </nav> -->
