<div class="navbar navbar-inverse navbar-fixed-top opaque-navbar">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navMain"><span class="glyphicon glyphicon-chevron-right" style="color:white;"></span>
          </button>
      <ul class="nav navbar-nav pull-left text-left">
        <li>
          <a href="" style="color:black;">Home</a>
        </li>
      </ul>
      <a class="navbar-brand" href="/">
        <!-- <img src="/static/images/Kenya_logo.png" alt="" width="150"> -->
      </a>
    </div>
    <div class="collapse navbar-collapse" id="navMain">
      <ul class="nav navbar-nav pull-right text-right">
        {% if user.is_authenticated %}

        <ul class="nav navbar-nav" id="navigation" style="color: black;">
          <li><a href="/" style="color: white;">Logout</a></li>
        </ul>

      </ul>

    </div>

    {% else %}

    <li id="navigation">
      <a href="/signup">Register/Login</a>
    </li>

    {% endif %}

  </div>
</div>
