{%extends 'base.html'%} {%load bootstrap3%} {%load static%}

<!--  -->
{% block content %}
{{ block.super }}
<!--<div class="container-fluid">-->
  <!--<h2 class="header">Cash Bail</h2>-->
  <!--<h6 class="date"> {{date|date:"l d-F Y"}} </h6>-->
  <!--<h4>{{now}}</h4>-->
<!--<table>-->
  <!--<thead>-->
    <!--<tr>-->
      <!--<th>Suspect name</th>-->
      <!--<th>Police Station</th>-->
      <!--<th>Crime Committed</th>-->
      <!--<th>Court Name</th>-->
      <!--<th>Court Date</th>-->
      <!--<th>Amount Paid</th>-->
    <!--</tr>-->
  <!--</thead>-->
  <!--<tbody>-->
    <!--{%for item in bail%}-->
    <!--<tr>-->
      <!--<td>{{item.criminal}}</td>-->
      <!--<td>{{item.p_station}}</td>-->
      <!--<td>{{item.crime}}</td>-->
      <!--<td>{{item.court_name}}</td>-->
      <!--<td>{{item.court_date}}</td>-->
      <!--<td>{{item.sum}}</td>-->
    <!--</tr>-->
    <!--{%endfor%}-->
  <!--</tbody>-->
<!--</table>-->

  <h1 class="header">Cash Bail</h1>
  <h6 class="date">{{date|date:"l d-F Y"}} </h6>
  <a id="btn-profile" class="check" data-toggle="modal" href="#bailform" class="btn btn-success"><h3>Add Bail</h3></a>

  <!-- BAIL MODAL -->
        <div id="bailform" class="modal modal-wide fade">

          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header" id="mheader">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">Bail Details</h4>
              </div>
              <div class="modal-body">
                <div class="container-fluid">
                  <form action="{% url 'cash_bail' %}" method="post">

                    {% csrf_token %} {%bootstrap_form form %}
                      <input type="submit" class="btn btn-success btn-sm" value="Add Bail">

                  </form>
                </div>
              </div>
              <div class="modal-footer" id="mfooter">
                <button type="button" class="btn btn-default" data-dismiss="modal" id="close">Close</button>
              </div>
            </div>
            <!-- /.modal-content -->
          </div>
          <!-- /.modal-dialog -->
        </div>
        <!-- /.modal -->
  <table>
    <thead>
      <tr>
        <th>Suspect name</th>
        <th>Police Station</th>
        <th>Crime Committed</th>
        <th>Court Name</th>
        <th>Court Date</th>
        <th>Amount Paid</th>
      </tr>
    </thead>
    <tbody>
      {%for item in bail%}
      <tr>
        <td><a href="{% url 'c_profile' item.criminal.id_no %}">{{item.criminal}}</a></td>
        <td>{{item.p_station}}</td>
        <td>{{item.crime}}</td>
        <td>{{item.court_name}}</td>
        <td>{{item.court_date}}</td>
        <td>{{item.sum}}</td>
      </tr>
      {%endfor%}
    </tbody>
  </table>
</div>

{%endblock%}
