{%extends 'occurrence-book/base.html'%}
{% load bootstrap3 %}
{% load static %}
<!-- block -->

{% block content %}

  {{ block.super }}

<!--<div onload="startTime()">-->

<!--<div id="todaydate" style="display:none;">2014, 07, 02, 08, 14, 35</div>&lt;!&ndash; This field is normally passed from Django-View to Template  &ndash;&gt;-->
<!--<div id="clock"></div>-->

<!--</div>-->
<br>

<div class="container-fluid">

  <div class="row">

    <div class="col-md-8">
      <h1 align="right">Occurrence book page</h1></div>

    <div class="col-md-4" id="legend">


      <h3><a class="btn btn-success" href=""> BOOK </a></h3>

      <h3><a class="btn btn-success" href=""> REPORT </a></h3>

      <h3><a class="btn btn-success" href=""> CREATE CRIMINAL PROFILE </a></h3>

    </div>

    <h5 class="date"> {{date|date:"l d-F Y"}} </h5>

  </div>
  <!-- test tabs -->

  <div class="container-fluid"></div>

  <div id="exTab2" class="container-fluid">
    <ul class="nav nav-tabs" id="toggle-tabs">
      <li class="active">
        <a href="#1" data-toggle="tab">Bookings</a>
      </li>
      <li><a href="#2" data-toggle="tab">Reports</a>
      </li>
    </ul>

    <div class="tab-content ">
      <div class="tab-pane active" id="1">
        <div class="row" id="booking-row">

          <table id="example" class="display" cellspacing="0" width="100%">

            <thead class="thead">

              <tr>

                <th> Time </th>

                <th> Arresting Officer </th>

                <th> Arresting Officer Badge No </th>

                <th> Criminal Name </th>

                <th> Crime Details </th>
              </tr>

            </thead>
            <tbody>

              {% for item in bookings %}

              <tr>

                <td> {{ item.time }} </td>

                <td> {{ item.a_o_name }} </td>

                <td> {{ item.a_o_badge_no }} </td>

                <td> <a href=""> {{ item.criminal.name }} </a> </td>

                <td>
                  <!-- test -->
                  <a data-toggle="modal" href="#{{ item.id }}" class="btn"><h4>Click Here</h4></a>


                  <div id="{{item.id}}" class="modal modal-wide fade">

                    <div class="modal-dialog">
                      <div class="modal-content">
                        <div class="modal-header" id="mheader">
                          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                          <h4 class="modal-title">Crime Details</h4>
                        </div>
                        <div class="modal-body">
                          <div class="col-md-4">
                            <h3><b>Name:</b> <i>{{ item.criminal.name }}</i></h3>
                            <hr>
                            <h3><b>Type of Crime:</b> <i>{{ item.crime.name }}</i></h3>
                            <hr>
                          </div>
                          <div class="col-md-2"></div>
                          <div class="col-md-6">
                            <h3><b>Id No:</b> <a href=""> <i>{{ item.criminal.id_no }}</i> </a> </h3>
                            <hr>
                          </div>
                        </div>
                        <div class="container-fluid" id="occurrence">
                          <h3><b>Nature of Occurrence:</b></h3>
                          <h3 class="three">I {{ item.a_o_name }} of badge number {{ item.a_o_badge_no }},
                         now booking {{ item.criminal.name }} to be charged for the offense of {{ item.crime_description }}</h3>
                          <div class="container"></div>
                          <h3> <b>Official Remark:</b> {{ item.remarks }}</h3>
                          <h3 class="sign"> <b>Signature: ........................</b></h3>
                        </div>
                        <div class="modal-footer" id="mfooter">
                          <button type="button" class="btn btn-default" data-dismiss="modal" id="close">Close</button>
                        </div>
                      </div>
                      <!-- /.modal-content -->
                    </div>
                    <!-- /.modal-dialog -->
                  </div>
                  <!-- /.modal -->
                </td>
              </tr>

              {% endfor %}
            </tbody>

          </table>
        </div>
      </div>
      <!-- REPORTS TABLE -->
      <div class="tab-pane" id="2">

        <table>

          <thead>

            <tr>

              <th> Time </th>

              <th> Name </th>

              <th> ID NO </th>

              <th> Crime Report </th>

            </tr>

          </thead>

          {% for item in reports %}

          <tr>

            <td> {{ item.time }} </td>

            <td> {{ item.name }} </td>

            <td> {{ item.id_no }} </td>
            <td>
              <!-- test -->
              <a data-toggle="modal" href="#{{ item.id }}" class="btn"><h4>Click Here</h4></a>


              <div id="{{item.id}}" class="modal modal-wide fade">
                <div class="modal-dialog">
                  <div class="modal-content">
                    <div class="modal-header" id="mheader">
                      <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                      <h4 class="modal-title">Report Details</h4>
                    </div>
                    <div class="modal-body">
                      <div class="col-md-4">
                        <h3><b>Name:</b> <i>{{ item.name }}</i></h3>
                        <hr>
                        <h3><b>Type of Crime:</b> <i>{{ item.crime }}</i></h3>
                        <hr>
                      </div>
                      <div class="col-md-2"></div>
                      <div class="col-md-6">
                        <h3><b>Id No:</b> <i>{{ item.id_no }}</i></h3>
                        <hr>
                        <h3><b>Reference No:</b> <i>{{ item.ref_no }}</i></h3>
                        <hr>
                      </div>
                    </div>
                    <div class="container-fluid" id="report-description">
                      <h3><b>Report Description:</b></h3>
                      <h3 class="three"> {{ item.crime_description }} </h3>
                      <h3 class="sign"> <b>Signature: ........................</b></h3>
                    </div>
                    <div class="modal-footer" id="mfooter">
                      <button type="button" class="btn btn-default" data-dismiss="modal" id="close">Close</button>
                    </div>
                  </div>
                  <!-- /.modal-content -->
                </div>
                <!-- /.modal-dialog -->
              </div>
              <!-- /.modal -->
            </td>

          </tr>

          {% endfor %}

        </table>
      </div>
    </div>
  </div>

</div>



  {% endblock %}

  {% block scripts %}

      <link href="https://fonts.googleapis.com/css?family=Playfair+Display" rel="stylesheet">

    {% bootstrap_javascript %}

    {% endblock %}

</body>

</html>