{%extends 'occurrence-book/base.html'%} {%load bootstrap3%} {%load static%}
<!-- block -->

{% block content %} {{ block.super }}
<!--<div onload="startTime()">-->

<!--<div id="todaydate" style="display:none;">2014, 07, 02, 08, 14, 35</div>&lt;!&ndash; This field is normally passed from Django-View to Template  &ndash;&gt;-->
<!--<div id="clock"></div>-->

<!--</div>-->
<br>

<div class="container-fluid">
  <br>

  <h1 align="center">Occurrence book page</h1>


  <h5 align="right"> {{date|date:"l d-F Y"}} </h5>


  <table id="example" class="display" cellspacing="0" width="100%">

    <!-- BOOKINGS TABLE -->

    <h2 class="booking"> Bookings </h2>

    <thead class="thead">

      <tr>

        <th> Time </th>

        <th> A.O </th>

        <th> A.O Badge No </th>

        <th> Criminal Name </th>

        <th> Crime Details </th>
      </tr>

    </thead>
    <tbody>

      {% for item in bookings %}

      <tr>

        <td> {{ item.time }} </td>

        <td> {{ item.a_o_name }} </td>

        <td> {{ item.a_o_badge_no }} </td>

        <td> {{ item.criminal.name }} </td>

        <td>
          <!-- test -->
          <a data-toggle="modal" href="#{{ item.id }}" class="btn"><h4>Click Here</h4></a>


          <div id="{{item.id}}" class="modal modal-wide fade">
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header" id="mheader">
                  <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                  <h4 class="modal-title">Crime Details</h4>
                </div>
                <div class="modal-body">
                  <div class="col-md-4">
                    <h3><b>Name:</b> <i>{{ item.criminal.name }}</i></h3>
                    <hr>
                    <h3><b>Type of Crime:</b> <i>{{ item.crime.name }}</i></h3>
                    <hr>
                  </div>
                  <div class="col-md-2"></div>
                  <div class="col-md-6">
                    <h3><b>Id No:</b> <i>{{ item.criminal.id_no }}</i></h3>
                    <hr>
                  </div>
                </div>
                <div class="container-fluid" id="occurrence">
                  <h3><b>Nature of Occurrence:</b></h3>
                  <h3 class="three">I {{ item.a_o_name }} of badge number {{ item.a_o_badge_no }},
                     now booking {{ item.criminal.name }} to be charged for the offense of {{ item.crime_description }}</h3>
                  <div class="container"></div>
                  <h3> <b>Official Remark:</b> {{ item.remarks }}</h3>
                  <h3 class="sign"> <b>Signature: ........................</b></h3>
                </div>
                <div class="modal-footer" id="mfooter">
                  <button type="button" class="btn btn-default" data-dismiss="modal" id="close">Close</button>
                </div>
              </div>
              <!-- /.modal-content -->
            </div>
            <!-- /.modal-dialog -->
          </div>
          <!-- /.modal -->
        </td>
      </tr>

      {% endfor %}
    </tbody>

  </table>
  <br>
  <hr>
  <table>


    <!-- REPORTS TABLE -->

    <h2 class="reports"> Reports </h2>

    <thead>

      <tr>

        <th> Time </th>

        <th> Name </th>

        <th> ID NO </th>

        <th> Crime Report </th>

      </tr>

    </thead>

    {% for item in reports %}

    <tr>

      <td> {{ item.time }} </td>

      <td> {{ item.name }} </td>

      <td> {{ item.id_no }} </td>
      <td>
        <!-- test -->
        <a data-toggle="modal" href="#{{ item.id }}" class="btn"><h4>Click Here</h4></a>


        <div id="{{item.id}}" class="modal modal-wide fade">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header" id="mheader">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">Report Details</h4>
              </div>
              <div class="modal-body">
                <div class="col-md-4">
                  <h3><b>Name:</b> <i>{{ item.name }}</i></h3>
                  <hr>
                  <h3><b>Type of Crime:</b> <i>{{ item.crime }}</i></h3>
                  <hr>
                </div>
                <div class="col-md-2"></div>
                <div class="col-md-6">
                  <h3><b>Id No:</b> <i>{{ item.id_no }}</i></h3>
                  <hr>
                  <h3><b>Reference No:</b> <i>{{ item.ref_no }}</i></h3>
                  <hr>
                </div>
              </div>
              <div class="container-fluid">
                <h3><b>Report Description:</b></h3>
                <h3 class="three"> {{ item.crime_description }} </h3>
                <h3 class="sign"> <b>Signature: ........................</b></h3>
              </div>
              <div class="modal-footer" id="mfooter">
                <button type="button" class="btn btn-default" data-dismiss="modal" id="close">Close</button>
              </div>
            </div>
            <!-- /.modal-content -->
          </div>
          <!-- /.modal-dialog -->
        </div>
        <!-- /.modal -->
      </td>

    </tr>

    {% endfor %}

  </table>

</div>






{% endblock%} {% block scripts %}

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

<script src="http://code.jquery.com/jquery-latest.min.js" type="text/javascript"></script>

<script src="{% static 'js/time.js' %}" type="text/javascript"></script>

<link href="https://fonts.googleapis.com/css?family=Playfair+Display" rel="stylesheet"> {% bootstrap_javascript %} {% endblock %}




</body>

</html>